<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Activate Email</title>
    </head>
    <body>
        <h3>Hi: {{fullname}}</h3>
        <div class="content" style="width: 100%">
            <p>
                Cảm ơn bạn đã đăng ký tài khoản trên hệ thống của chúng tôi!
                Nhấp vào bên dưới để kích hoạt tài khoản của bạn:
            </p>
            <div class="btn" style="width: 100%; text-align: center">
                <a style="text-decoration: none" href="{{href}}">
                    <button
                        style="
                            padding: 15px 20px;
                            background-color: #5865f2;
                            color: white;
                            border: none;
                            border-radius: 5px;
                            margin: auto;
                            cursor: pointer;
                            "
                    >
                        Kích hoạt
                    </button>
                </a>
            </div>
        </div>
    </body>
</html>